.header__image{
    position: relative;
    text-align: center;
    color: white;
}
.welcome__title{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content__in__faculties{
    
    display: flex;
    justify-content: center;
}
.sub__heading{
    padding: 14px;
    text-align: center;
}
.content__in__faculties > p{
    width: 75%;
    text-align: justify;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #5C5C5C;
    
}
.faculty__img{
    display: flex;
    justify-content: center;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 35px;
}
.faculty__img img{
    padding-left: 14px;
    transition: 0.5s;
}
.faculty__img image:hover{
    transform: translateY(-20px);

}

@media (max-width: 1000px){
    .welcome__title{
        color: rgba(0,179,176,1.00);
        background: none;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(-0%, -0%);
        font-size: 14px;
        padding: 21px;
    }
    .faculty__img{
        display: block;
    }
    .faculty__img img{
        padding-bottom: 21px;
        padding-left: 0;
    }
    .content__in__faculties > p{
        width: 100%;
        padding: 21px;
    }
}